@model BookClub.Core.BookSource
<div id="bookSourceModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times</a>
                <br />
            </div>
            <div class="modal-body">
                <table class="center">
                    <tr>
                        <td>
                            <div class="form-group formWider">
                                @Html.DisplayNameFor(model => model.BookSourceName)
                                @Html.EditorFor(model =>model.BookSourceName)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group formWider">
                                @Html.DisplayNameFor(model => model.BookSourceLink)
                                @Html.EditorFor(model => model.BookSourceLink)
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">CANCEL</a>
                <a href="#" class="btn btn-success btnTextColor" onclick="saveBookSource()">SAVE</a>
            </div>
        </div>
    </div>
</div>
